doctype html
html(lang="en")
    head
        title Workflow Viewer
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jointjs/0.9.7/joint.min.css')
        link(rel='stylesheet', href='css/rappid.css')
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
        link(href='http://fonts.googleapis.com/css?family=Lato:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    body(style="background-color: #2A2B31;", class="holy-grail")
        header
            h1
                | Workflow Viewer
            .clearfix
        div.holy-grail-body
            main.holy-grail-content
                ol(class="crumbs")
                #paper
        footer
            i.fa.fa-circle(aria-hidden="true", id="connected-indicator")
            | connected to server
        .modal.fade(id="step-modal")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        button(type="button", class="close", data-dismiss="modal")
                            span
                                | &times;
                        h4(class="modal-title")
                            | Step
                    .modal-body
                        p
                            | In Data
                        pre(id="inData")
                        p
                            | Out Data
                        pre(id="outData")
                    .modal-footer
                        button(type="button", class="btn btn-default", data-dismiss="modal")
                            | Close
        script(src='https://code.jquery.com/jquery-2.2.3.min.js')
        script(src='vendor/lodash.min.js')
        script(src='vendor/backbone.min.js')
        script(src='vendor/rappid.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
        script(src='vendor/tabs.js')
        script(src='js/bundle.js')
